.online-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: grey; /* Default for offline */
}

.online-status.online {
    background-color: green;
}

.online-status.offline {
    background-color: grey;
}